<form class="{{cssClass}} clock-block" autocomplete="off">

    <div class="flexcol blades-clock-name-type">
        {{#if editable}}
        <input type="text" id="{{id}}-clock-name" name="name" value="{{name}}">

        <select data-type="String" name="system.type">
            {{#select system.type}}
            <optgroup>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>                  
            </optgroup>
            <optgroup label="-- Exotic Clocks --">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>  
                <option value="5">5</option>
                <option value="7">7</option>                 
            </optgroup>
            {{/select}}
        </select>
        {{/if}}

        <div class="clocks clocks-{{system.type}}">
            {{{blades-clock "system.value" system.type system.value _id}}}
        </div>
    </div>
</form>