// Add Items modal styling.
.items-to-add {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;

    &:checked + label {
      font-weight: bold;
    }
  }

 //Tooltip.
  .tooltip {

    .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: $almost_black;
      color: $almost_white;
      text-align: center;
      padding: 5px;
      border-radius: 6px;

      // Position
      position: absolute;
      z-index: 9999;
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }
}

.harm-card-list {

 //Remove item image border to be show image shape.
 img {
  border: none;
 }

 //Tooltip.
 .tooltip {

  .tooltiptext {
    visibility: hidden;
    color: var(--color-text-light-highlight);
    background-color: var(--color-text-dark-secondary);    
    font-style: italic;
    text-align: left;
    padding: 5px;
    border: 2px solid var(--color-border-highlight);    
    border-radius: 6px;

    // Position
    position: absolute;
    z-index: 9999;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}  
}
